body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'StickNoBills';
  src: url("/src/static/assets/fonts/StickNoBills-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'JuliusSansOne';
  src: url("/src/static/assets/fonts/JuliusSansOne-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'CrimsonPro';
  src: url("/src/static/assets/fonts/CrimsonPro-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url("/src/static/assets/fonts/Montserrat-Regular.ttf") format('truetype');
}